@import './mixi';

.container{
    width: 95%;
    margin: 30% auto;
    .group{
        display: flex;
        justify-content: space-between;
        margin: 50px 0;
        &--search{
            width: 50%;
        }
        &--add{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            div{
                display: flex;
                flex-direction: column;
                width: 100%;
                & > input{
                    width: 100%;
                    padding: 5px ;
                }
            }
        }
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        text-align: center;
        button{
            @include kichthuoc(30px,50px);
            width: 50px;
            color: white;
            border: 0;
            border-radius :5px;

        }
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }

}