#pagination{
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
    padding: 0;
    li{
        width: 30px;
        padding: 5px;
        margin: 5px;
        border: 1px solid gray;
    }
}
.card{
    height: 100%;
}